:root {
  --bright-blue: #19c8fa;
  --dark-blue: #0f748fb3;
  --paragraph-grey: #777;
  --section-padding: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container p {
  color: #777;
  line-height: 30px;
}

.container h2 {
  position: relative;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.container h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background-color: #333;
  width: 120px;
  height: 2px;
}

.container h2::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  height: 15px;
  width: 15px;
  border: 2px solid #333;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}

ul {
  list-style: none;
}

.intro {
  background-image: url(../images/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 60%);
  background-blend-mode: multiply;
  min-height: 100vh;
  color: #fff;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  margin: 0 2rem;
  border-bottom: 1px solid #fff;
  align-items: center;
}

.active {
  color: var(--bright-blue);
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav ul a {
  text-decoration: none;
  color: #fff;
}

nav ul a:hover {
  color: var(--bright-blue);
}

nav .toggle {
  display: none;
}

nav .search {
  padding-left: 1rem;
  margin-left: 2rem;
  border-left: 1px solid #fff;
}

nav .search::before {
  content: "";
  width: 2px;
  color: #fff;
}

nav .search i:hover {
  color: var(--bright-blue);
}

.intro .text {
  max-width: 50%;
  background-color: var(--dark-blue);
  padding: 30px 45px 55px 80px;
  margin-top: 2rem;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .intro .text {
    min-width: 100%;
    height: 50%;
    padding: 3rem;
    margin-top: 0;
  }
  .intro .arrow {
    display: none;
  }
}

.intro .text h1 {
  font-weight: 400;
  line-height: 45px;
}

.intro .arrow {
  position: absolute;
  top: 50%;
  opacity: 0.8;
}

.intro .arrow:first-of-type {
  left: 30px;
}

.intro .arrow:last-of-type {
  right: 30px;
}

.intro .bullets {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 40px);
}

.intro .bullets li {
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.intro .bullets li.active {
  border: none;
  background-color: var(--bright-blue);
}

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .services-intro {
  text-align: center;
  margin-bottom: 4rem;
}

.services .services-intro h2 {
  font-weight: 400;
  font-size: 40px;
}

.services .services-intro p {
  padding-top: 3rem;
  max-width: 45%;
  margin: auto;
}

.services .services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}

.services .services-grid .service {
  display: flex;
  padding: 0 2rem;
}

.services .services-grid .service i {
  margin-right: 2.5rem;
}

.services .services-grid .service h3 {
  color: var(--bright-blue);
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .services .services-intro p {
    min-width: 100%;
  }
  .services .services-grid .service {
    flex-direction: column;
    text-align: center;
  }
  .services .services-grid .service i {
    margin-bottom: 2.5rem;
    margin-right: 0;
  }
}
