:root {
  --bright-blue: #19c8fa;
  --dark-blue: #0f748fb3;
  --paragraph-grey: #777;
  --section-padding: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.section-heading p {
  color: #777;
  line-height: 30px;
}

.section-heading h2 {
  position: relative;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.section-heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background-color: #333;
  width: 120px;
  height: 2px;
}

.section-heading h2::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  height: 15px;
  width: 15px;
  border: 2px solid #333;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}

ul {
  list-style: none;
}

.intro {
  background-image: url(../images/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 60%);
  background-blend-mode: multiply;
  min-height: 100vh;
  color: #fff;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  margin: 0 2rem;
  border-bottom: 1px solid #fff;
  align-items: center;
}

.active {
  color: var(--bright-blue);
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav ul a {
  text-decoration: none;
  color: #fff;
}

nav ul a:hover {
  color: var(--bright-blue);
}

nav .toggle {
  display: none;
}

nav .search {
  padding-left: 1rem;
  margin-left: 2rem;
  border-left: 1px solid #fff;
}

nav .search::before {
  content: "";
  width: 2px;
  color: #fff;
}

nav .search i:hover {
  color: var(--bright-blue);
}

.intro .text {
  max-width: 50%;
  background-color: var(--dark-blue);
  padding: 30px 45px 55px 80px;
  margin-top: 2rem;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .intro .text {
    min-width: 100%;
    height: 50%;
    padding: 3rem;
    margin-top: 0;
  }
  .intro .arrow {
    display: none;
  }
}

.intro .text h1 {
  font-weight: 400;
  line-height: 45px;
}

.intro .arrow {
  position: absolute;
  top: 50%;
  opacity: 0.8;
}

.intro .arrow:first-of-type {
  left: 30px;
}

.intro .arrow:last-of-type {
  right: 30px;
}

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.section-heading {
  text-align: center;
  margin-bottom: 4rem;
}

.section-heading h2 {
  font-weight: 400;
  font-size: 40px;
}

.section-heading p {
  padding-top: 3rem;
  max-width: 45%;
  margin: auto;
}

.services .services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}

.services .services-grid .service {
  display: flex;
  padding: 0 2rem;
}

.services .services-grid .service i {
  margin-right: 2.5rem;
}

.services .services-grid .service h3 {
  color: var(--bright-blue);
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .section-heading p {
    min-width: 100%;
  }
  .services .services-grid .service {
    flex-direction: column;
    text-align: center;
  }
  .services .services-grid .service i {
    margin-bottom: 2.5rem;
    margin-right: 0;
  }
}

.design {
  background: url(../images/design-features.jpg) no-repeat;
  background-size: cover;
  display: flex;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 60%);
  background-blend-mode: multiply;
  overflow: hidden;
}

.design .image {
  text-align: center;
}

.design .image img {
  position: relative;
  bottom: -150px;
}

.design .text {
  color: #fff;
  background-color: var(--dark-blue);
  padding: 50px;
}

.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .text h2 {
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 1rem;
}

.design .text li {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.design .text li i {
  font-size: 16px;
  margin-right: 1rem;
}

.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .categories li {
  margin: 0 10px;
}

.portfolio .categories .active-category {
  background-color: var(--bright-blue);
  color: #fff;
  padding: 10px;
}

.portfolio .portfolio-imgs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .portfolio .portfolio-imgs .img-box {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1199px) {
  .portfolio .portfolio-imgs .img-box {
    flex-basis: 25%;
  }
}

.portfolio .portfolio-imgs .img-box {
  overflow: hidden;
  position: relative;
}

.portfolio .portfolio-imgs .img-box:hover .caption {
  bottom: 0;
}

.portfolio .portfolio-imgs .img-box:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}

.portfolio .img-box img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.portfolio .img-box .caption {
  padding: 20px;
  position: absolute;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  bottom: -100%;
  background-color: #fff;
}

.portfolio .img-box .caption h4 {
  font-weight: 400;
  margin-bottom: 1rem;
}

.portfolio .img-box .caption p {
  color: var(--bright-blue);
  margin-bottom: 0;
}

.portfolio a {
  color: #fff;
  background-color: var(--bright-blue);
  border: none;
  padding: 15px 20px;
  text-decoration: none;
  margin: 2rem auto;
  width: fit-content;
  text-transform: uppercase;
  display: block;
}

.video-section {
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 40%);
  background-blend-mode: multiply;
}

.video-section video {
  object-fit: cover;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.video-section .text {
  background-color: var(--dark-blue);
  padding: 50px;
  color: #fff;
  text-align: center;
  min-width: 100%;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.video-section .text h2 {
  font-weight: 400;
}

.video-section .text h2,
p {
  margin-bottom: 1.5rem;
}

.video-section .text a {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 10px 15px;
  display: block;
  width: fit-content;
  margin: auto;
}

.about-section {
  padding-top: var(--section-padding);
  position: relative;
  overflow: hidden;
  height: 100vh;
  text-align: center;
}

.about-section img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}

.stats-section {
  background: url(../images/stats.png);
  padding: var(--section-padding);
  background-color: rgba(0, 0, 0, 70%);
  background-blend-mode: multiply;
}

.stats-section .stats {
  display: flex;
  background-color: var(--dark-blue);
  color: #fff;
  text-align: center;
  flex-wrap: wrap;
}

.stats-section .stats .stat-col {
  padding: 50px;
}

@media screen and (max-width: 767px) {
  .stats-section {
    padding: var(--section-padding) 15px;
  }
  .stats-section .stats .stat-col {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
  .stats-section .stats .stat-col {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1199px) {
  .stats-section .stats .stat-col {
    flex-basis: 25%;
  }
}

.stats-section .stats .stat-col i {
  background-color: #000;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.stats-section .stats .stat-col .number {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.stats-section .stats .stat-col p {
  font-size: 14px;
}

.testimonials-section {
  padding: var(--section-padding) 3rem;
}

.testimonials-section .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonials-section h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2rem;
}

.testimonials-section h3,
.top-paragraph {
  text-align: center;
}

.testimonials-section .top-paragraph {
  color: #777;
  line-height: 2rem;
  margin-bottom: 3.5rem;
}

.testimonials-section .testimonials {
  position: relative;
}

.testimonials-section .testimonials,
.skills {
  flex-basis: 45%;
}

.testimonials-section .testimonials .person {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.testimonials-section .testimonials .person .text {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.testimonials-section .testimonials .person img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 3rem;
}

.testimonials-section .testimonials .person p {
  line-height: 1.8rem;
  margin-bottom: 0;
}

.testimonials-section .testimonials .person .person-name {
  text-align: end;
  color: #777;
  font-size: 15px;
}

.testimonials-section .skills .progress-container h4 {
  text-transform: uppercase;
  font-weight: normal;
}

.testimonials-section .skills .prog {
  width: 100%;
  height: 30px;
  background: #dedadc;
  margin: 1rem 0 2rem 0;
}

.testimonials-section .skills .prog span {
  background-color: var(--bright-blue);
  position: relative;
  height: 100%;
  display: block;
}

.testimonials-section .skills .prog span::before {
  content: attr(data-progress);
  background-color: #000;
  color: #fff;
  position: absolute;
  width: 40px;
  top: -40px;
  text-align: center;
  right: -18px;
  padding: 4px 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.testimonials-section .skills .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}

.bullets {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.bullets li {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
}

.intro .bullets li {
  border: 1px solid #fff;
  width: 20px;
  height: 20px;
}

.testimonials-section .bullets {
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  bottom: 10px;
  width: 100%;
}

.testimonials-section .bullets li {
  border: 1px solid #aaa;
  width: 14px;
  height: 14px;
}

.bullets li.active {
  border: none;
  background-color: var(--bright-blue);
}

@media screen and (max-width: 992px) {
  .testimonials-section .testimonials,
  .skills {
    flex-basis: 100%;
  }
  .testimonials-section .testimonials {
    margin-bottom: 5rem;
  }
  .testimonials-section .bullets {
    bottom: -100px;
  }
}

@media screen and (max-width: 768px) {
  .testimonials-section {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonials-section .testimonials .person {
    flex-direction: column;
  }
  .testimonials-section .testimonials .person img {
    margin-right: 0;
  }
  .testimonials-section .testimonials .person p:not(.person-name) {
    text-align: center;
    margin-top: 1rem;
  }
}

.quote {
  background: url(../images/quote.jpg) no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 75%);
  background-blend-mode: multiply;
  color: #fff;
  text-align: center;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.quote q {
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}

.pricing-section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.pricing-section .prices {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.pricing-section .prices .price-col {
  background-color: #fcfcfc;
  text-align: center;
}

.pricing-section .prices .price-col h3 {
  font-weight: normal;
  padding-top: 40px;
  border-top: 1px solid var(--bright-blue);
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}

.pricing-section .prices .price-col span {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 40px;
  display: block;
  position: relative;
}

.pricing-section .prices .price-col span::before {
  content: "$";
  position: relative;
  font-size: 25px;
  font-weight: normal;
  margin-right: 15px;
  top: -40px;
}

.pricing-section .prices .price-col span::after {
  content: "/Mo";
  position: absolute;
  bottom: 6px;
  font-size: 20px;
  margin-left: 15px;
}

.pricing-section .prices .price-col ul {
  border-top: 1px solid var(--bright-blue);
  border-bottom: 1px solid var(--bright-blue);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pricing-section .prices .price-col li {
  padding: 20px 0;
  width: 60%;
}

.pricing-section .prices .price-col li:not(:last-of-type) {
  border-bottom: 1px solid var(--bright-blue);
}

.pricing-section .prices .price-col a {
  display: block;
  width: fit-content;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid var(--bright-blue);
  background-color: transparent;
  text-decoration: none;
}

.pricing-section .contact-us {
  text-align: center;
  padding-top: 40px;
}

.pricing-section .contact-us p {
  font-size: 20px;
  margin-bottom: 20px;
}

.pricing-section .contact-us a {
  color: #fff;
  background-color: var(--bright-blue);
  padding: 15px 30px;
  border: none;
  margin: auto;
  display: block;
  width: fit-content;
  text-decoration: none;
}

.email-section,
footer {
  background: url(../images/subscribe.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
}

.email-section {
  background-color: rgba(0, 0, 0, 50%);

  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.email-section .container {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .email-section .container {
    flex-direction: column;
    text-align: center;
  }
  .email-section form {
    margin-bottom: 2rem;
  }
}

.email-section form {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
}

.email-section form i {
  margin: 0 1.5rem;
}

.email-section form input[type="email"] {
  border: none;
  background: none;
  caret-color: var(--bright-blue);
  width: 250px;
  color: #fff;
  height: 100%;
}

.email-section form input[type="email"]:focus,
.email-section form input[type="submit"]:focus {
  outline: none;
}

.email-section form input[type="email"]::placeholder {
  color: #fff;
}

.email-section form input[type="submit"] {
  padding: 1.2rem;
  background-color: var(--bright-blue);
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.email-section p {
  line-height: 2;
  margin-left: 3rem;
  margin-bottom: 0;
}

footer {
  background-color: rgba(0, 0, 0, 70%);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  margin-bottom: 3rem;
}

footer h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 22px;
  border-bottom: 1px solid #fff;
  padding: 1rem;
}

footer .social-icons i {
  margin: 1rem;
  margin-bottom: 4rem;
}

footer .social-icons i:hover {
  color: var(--bright-blue);
}

footer p {
  margin-bottom: 0;
}

footer p span {
  color: var(--bright-blue);
  font-weight: 600;
}
